* {
  font-family: Helvetica !important;
}

.imageProductSearch {
    width: 60px;
    height: 60px;
}

.imageProductRow {
  width: 150px;
  height: 150px;
}

.corePink {
  color : #ef7ab0
}

.font-weight-bold {
  font-weight: bold !important;
}

.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}


.pointerHover:hover{
  cursor: pointer;
}


.custom-modal .modal-body {
  height: 50vh;
}

.riders{
  width: 150px;
  object-fit: cover;
}

.sticky-side-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}

.sticky-side-nav::-webkit-scrollbar {
  display: none;
}

.borderPink {
  border: 2px solid #ef7ab0;
  padding: 1rem;
}

.orders tr:hover{
  background-color: lightslategray;
  cursor: pointer;
}